<!doctype html>
<html>
<head>
  <title>
    OAuth App
  </title>
  <link rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css' />
</head>
<body>
  <div class='container'>
    <h1> Home Page</h1>
    <a href='/'> Home</a>
    <a href='/auth/login'> Login</a>
    <a href='/auth/logout'> Logout</a>
  </div>

</body>
</html>
